<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".GlobalData"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/pig_face_18"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pig_face_18"
        android:supportsRtl="true"
        android:theme="@style/Theme.PigKeeper"
        tools:targetApi="31">
        <activity
            android:name=".WinScreenActivity"
            android:exported="false" />
        <activity
            android:name=".RollActivity"
            android:exported="false" />
        <activity
            android:name=".TurnOrderActivity"
            android:exported="false" />
        <activity
            android:name=".NewPlayersActivity"
            android:exported="false" />
        <activity
            android:name=".LastPotActivity"
            android:exported="false" />
        <activity
            android:name=".RulesActivity"
            android:exported="false"
            android:label="@string/title_activity_rules"
            android:theme="@style/Theme.PigKeeper" />
        <activity
            android:name=".AllScoresActivity"
            android:exported="false" />
        <activity
            android:name=".PotScreenActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>